body {
    color: #1b1464;
    font-family: Arial, sans-serif;
}
/* Utilisation de la propriété font-family pour changer la police */

.bt {
    width: 250px;
}
main {
    border: 1px solid;
    border-color: #1b1464;
}
.logo {
    height: 100px;
    width: 100px;
}
.logo2 {
    height: 200px;
    width: 200px;
}
.lien {
    height: 100px;
    width: 100px;
}
.card {
    width: 100%;
}
.x {
    width: 100%;
    justify-content: space-around;
}
.img1 {
    height: 820px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    margin-right: 10px;
    border-right: 1px solid #ccc;
    padding-right: 10px;
}

nav li:last-child {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
}
.t-parent {
    position: relative;
}
.text-img {
    position: absolute;
    background-color: transparent;
}
.t-img {
    background-color: transparent;
    border: none;
    left: 5%;
    top: 25%;
}
.nav-img {
    position: absolute;
    width: 100%;
    height: 65px;
    background-color: white;
    opacity: 0.8;
    top: 0;
}
.bouton {
    border-radius: 50px;
    width: 75%;
    border: none;
    background-color: #1b1464;
    color: white; /* Couleur de texte */
    padding: 10px 20px; /* Espacement intérieur */
    opacity: 1;
}

div {
    margin: auto;
    text-align: center;
}
.p-t-i {
    font-size: 20pt;
}
.p-t-h {
    font-size: 30pt;
}
.inf {
    width: 500px;
}
.ombre {
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}
a {
    text-decoration: none;
    color: #1b1464;
}
