body {
    color: #1b1464;
    font-family: Arial, sans-serif;
}
/* Utilisation de la propriété font-family pour changer la police */

main {
    border: 1px solid;
    border-color: #1b1464;
    width: 100%;
}
.logo {
    height: 100px;
    width: 100px;
}
.logo2 {
    height: 150px;
    width: 150px;
}
.lien {
    height: 100px;
    width: 100px;
}
.card {
    width: 100%;
}
.x {
    width: 100%;
    justify-content: space-around;
}
.img1 {
    height: 820px;
}
@media screen and (max-width: 768px) {
    .img1 {
        height: 600px;
    }
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    margin-right: 10px;
    border-right: 1px solid #ccc;
    padding-right: 10px;
}

nav li:last-child {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
}

.t-img {
    background-color: transparent;
    border: none;
    left: 5%;
    top: 25%;
}
.nav-img {
    position: absolute;
    width: 100%;
    height: 65px;
    background-color: white;
    left: 0;
    opacity: 0.8;
    top: 0;
}
.bouton {
    border-radius: 50px;
    width: 250px;
    border: none;
    background-color: #1b1464;
    color: white; /* Couleur de texte */
    padding: 10px 20px; /* Espacement intérieur */
    opacity: 1;
}
.bouton2 {
    border-radius: 50px;
    width: 75%;
    border: none;
    background-color: white;
    color: #1b1464; /* Couleur de texte */
    padding: 10px 20px; /* Espacement intérieur */
    opacity: 1;
}

div {
    margin: auto;
    text-align: center;
}
.card-magazin {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.p-t-h {
    width: 30%;
    font-size: 3em;
    text-align: center;
}

.p-t-i {
    width: 30%;
    font-size: 1em;
    text-align: justify;
    margin: 1em;
}

.bouton-magazin {
    width: 10%;
    font-size: 1em;
    padding: 0.5em 1em;
    cursor: pointer;
    margin: 1em;
}

@media screen and (max-width: 768px) {
    .card-magazin {
        align-items: center;
    }
    .p-t-h {
        width: 100%;
        font-size: 2em;
    }
    .p-t-i {
        width: 100%;
        font-size: 0.8em;
    }
    .bouton-magazin {
        font-size: 0.8em;
        padding: 0.3em 0.7em;
        width: 30%;
    }
}

.ombre {
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}
a {
    text-decoration: none;
    color: #1b1464;
}
.social-buttons a {
    display: inline-flex;
    text-decoration: none;
    font-size: 18px;
    width: 10px;
    height: 10px;
    color: #1b1464;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 8px;
}
.social-buttons a::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 50%;
    border-color: #1b1464;
    border-radius: 50%;
}
.separateur {
    border-top: 1px solid #1b1464;
    margin: 20px auto;
    width: 80px;
}
.separateur2 {
    border-left: 1px solid #1b1464;
    margin: auto 20px;
    height: 60px;
}
.navx a {
    color: #1b1464;
}
.separateur3 {
    border-top: 1px solid #1b1464;
    margin: 60px auto;
    width: 40%;
}
.bg-i {
    width: 100%;
    height: 100%;
}
